{% extends "MainApp/wrapper.html"%}

{%block content%}
<div class="container" id="about">
    <h5>Квадрат Пифагора</h5>
    <p>Квадрат Пифагора - это отдельное направление нумерологии. По сути это учение берет свое начало от египетских жрецов. </p>
    <p> Именно они одни из первых начали сопоставлять качества характера человека в зависимости от чисел. </p>
    <p> Пифагор взял за основу эти знания о числах и применил к ним математический аспект, основанный на гармонии квадрата.</p>

    <p>Пифагор и его последовали расширили возможности египетской системы, дополнив значения отдельных цифр значениями целевых линий квадрата Пифагора.</p>
    <p> Таким образом новое учение помогало выявить возможную цель жизни человека.</p>
    <h5>Число судьбы</h5>
    <p>Число Судьбы - это то, с чем вы были посланы на Землю, и что вам следует делать. </p>
    <p>Оно показывает, что заложено в вашей личности, какие таланты у вас есть и что вы действительно из себя представляете. </p>
    <p> Это - Ваша суть, Ваша дорога по жизни. Если Вы с этим числом живете, имея положительное, оптимистичное отношение к жизни, вы успешно достигнете поставленной цели. Если живете пессимистично, могут возникнуть осложнения.</p>

</div>
{%endblock%}