{% extends "MainApp/wrapper_footer.html"%}

{%block content%}
<h3> Как сделать ловец снов?</h3>
    <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/lovets1.jpg"></p>
<H5>Для изготовления ловца снов вам понадобятся:</H5>
<p>•Обруч из натурального дерева. Оптимальным вариантом станет ивовый прут или березовая заготовка.</p>
<p>•Нитки мулине. Если вы хотите, чтобы вязание получилось объемным, то можно купить пряжу с добавлением шелка.</p>
<p>•«Цыганская» игла с тупым концом, через которую будут с легкостью проходит бусины, используемые в процессе декора ловца снов.</p>
<p>•Цветное перышко (можно приобрети 5-8 штук).</p>
<p>•Кожаный, замшевый или атласный шнур, посредством которого талисман будет закреплен на стене, карнизе или в изголовье кровати. Если вы хотите выполнить изделие в этническом стиле, то вполне подойдет шпагат, толстая проволока или шерстяная нитка.</p>
<p>•Стеклярус, объемные бусины и другие декоративные элементы, которые будут украшать готовый талисман и создавать определенный рисунок.</p>
<H5>Итак, приступаем:</H5>
   <p>1. Все материал выкладываем перед собой. </p>
    <p>2. Берем деревянное кольцо, круг или обруч, и начинаем его плотно обматывать заготовленными нитками. Если у вас ветка, то перед этим ее нужно будет согнуть и зафиксировать посредством скоб или клейкой ленты.</p>
    <p>3. Фиксируем свободный край шнура. После того как основа ловца снов полностью обмотана нитями, необходимо сплести внутреннюю часть. Схема и форма плетения может разной, но мы будем использовать технику «паутинка».</p>
    <p>4. Затягиваем один или два узла свободным концом нити, в зависимости от ее фактуры.</p>
    <p> 5. Протягиваем нитку вдоль основы и на расстоянии 2-4 см правильно ее закрепляем, обвивая вокруг нашей заготовки.</p>
    <p>6. Все последующие витки фиксируем на одинаковом расстоянии друг от друга. Должна получиться красивая паутинка.</p>
    <p>7. После того как первый круг замкнулся, необходимо продеть свободный край нити в иглу, чтобы было удобно соблюдать последовательность техники плетения, создавая второй ряд.</p>
    <p>8. Протягиваем нитку через первую петлю, используя для этого иглу. Натягиваем ее по центру и фиксируем.</p>
    <p>9. Когда два ряда создано, переходим к уроку декора. Берем подготовленные бусины или стеклярус, которые будут выполнять роль украшения.</p>
    <p>10. Создаем очередной ряд нашего плетения, соблюдая технологию. Но перед тем как завязать очередной узелок, продеваем через нить бусину.</p>
    <p>11. Как только красивый ряд с бусинками из дерева или стекла готов, делаем несколько обычных рядов, стараясь сохранить четкость контурных линий и легкость «паутинки».</p>
    <p>12. После этого создаем новый ряд, используя маленький бисер.</p>
    <p>13. Финальный ряд нашего ловца плетем без бусин. Фиксируем нитку посредством создания плотного узла и отрезаем оставшуюся часть. Наш талисман почти готов.</p>
    <p>14. Теперь нужно включить фантазию и украсить домашний оберег с учетом индивидуальных предпочтений. Можно использовать перо павлина или рябчика, яркую тесьму и другие фактурные материалы, способные подчеркнуть особенности интерьера спальной комнаты.</p>



<h5>Ниже на рисунке показана схема плетения: </h5>
    <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/lovets.jpg"></p>
<p>Ваш эксклюзивный ловец снов готов. Его можно зафиксировать на кольце или веточке, а также прикрепить к верхнему шнурку крючок, чтобы было удобнее вешать у изголовья кровати.</p>
{%endblock%}