{% extends "MainApp/wrapper_footer.html"%}

{%block content%}
<H3>Amazing photo gallery</H3>
<div class="gallery">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_1.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_2.jpeg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_3.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_4.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_5.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_7.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_8.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_9.jpg">
</div>
<div class="gallery">
     <img style="margin-left:auto;" src="/static/images/gothic/goth_10.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_11.jpg">
     <img style="margin-left:auto;" src="/static/images/gothic/goth_12.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_13.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_14.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_15.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_16.jpg">
    <img style="margin-left:auto;" src="/static/images/gothic/goth_17.jpg">
</div>

{%endblock%}