{% extends "MainApp/wrapper_footer.html"%}

{%block content%}
<h3> Как определить свой камень-оберег?</h3>
 <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/stone.jpg"></p>
<p>Одним из методов относительно выбора магической вещи для каждого конкретного человека является классификация амулетов и талисманов по знаку Зодиака.</p>
<h5>Ниже приведён список магических камней, подходящих тому или иному знаку зодиака: </h5>

<p>Овен. Для них, в связи с неуемной энергией и стремлением везде быть первыми, а также некоторой долей эгоизма, будут необходимы следующие камни: бриллиант, аметист, гранат, жемчуг, рубин, хризолит.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_oven.jpg"></p>
<p>Телец. Так как эти миролюбивые существа предпочитают спокойствие и не любят перемен, им соответствуют такие камни: изумруд, оникс, рубин, сапфир, топаз.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_tel.jpg"></p>
<p>Близнецы. Про них можно сказать многое. Прирожденные творцы, воздушные личности. Обожают искусство и самовыражение, поэтому им стоит приобретать данные камни: аметист, жемчуг, изумруд, сапфир, топаз, хризолит, цитрин.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_bliz.jpg"></p>
<P>Рак. Обладают высоким интеллектом и хорошей памятью, но постоянно витают в облаках, им помогут: аметист, жемчуг, изумруд, рубин, топаз, хризолит.</P>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_rak.jpg"></p>
<p>Лев. Амбициозные карьеристы и сластолюбцы. Но иногда их гордость выходит за рамки понимания, чтобы умерить свой пыл и добиться успеха им в помощь: гранат, изумруд, рубин, топаз, хризолит, цитрин.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_lev.jpg"></p>
<p>Дева. Во всем сомневающиеся скептики, словно криминалисты, пытаются познать красоту мира через логику и научный подход, таким людям подойдут: бриллиант, гранат, изумруд, сапфир, хризолит, цитрин.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_dev.jpg"></p>
<p>Весы. Хорошей чертой характера Весов является умение ладить с людьми. Они завсегдатаи любых вечеринок и мероприятий, но слабой стороной является недостаток физических сил и раннее старение. Компенсировать это могут: бриллиант, аметист, изумруд, хризолит, цитрин.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_ves.jpg"></p>
<p>Скорпион. Любит совершать необдуманные поступки, в большей степени руководствуется желанием, нежели интеллектом. Для принятия правильных решений стоит задуматься о покупке таких камней, как: аметист, гранат, рубин, сапфир, топаз.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_skorp.jpg"></p>
<p>Стрелец. Именно таких людей можно назвать искателями приключений. Носители этого знака были древними первооткрывателями, благодаря им на карте не осталось белых пятен. Но успехов добиваются только Стрельцы, которые верно понимают риски и грамотно выбирают, за какой же идеей погнаться. Им подходят аметист, гранат, изумруд, сапфир, топаз, хризолит.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_strel.jpg"></p>
<p>Козерог. Носители знака не любят следить за своей внешностью, ведь они хотят нравиться за свои поступки и достигать целей трудом. Имеют талант к торговле, чему способствует их терпение и трудолюбие. Для раскрытия их способностей подойдут: аметист, гранат, раухтопаз, рубин.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_koz.jpg"></p>
<p>Водолей. Самый противоречивый из знаков Зодиака, его поймет только другой Водолей. Их интересует очень много вещей, и с каждым днем круг интересов расширяется. Водолеям сложно выбрать что-то одно, и поэтому они редко добиваются успеха. Этому знаку стоит плотно заинтересоваться такими камнями, как: аметист, гранат, жемчуг, изумруд, сапфир, цитрин.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_vod.jpg"></p>
<p>Рыбы. Понимающий знак, эдакий зодиакальный психолог для других людей. Внутренне чувствует каждого человека, но сами Рыбы могут годами находиться в угнетенном состоянии и не показывать этого. На самочувствие Рыб в лучшую сторону влияют: аметист, аквамарин, жемчуг, сапфир, хризолит.</p>
  <p style="text-align:center;margin-left:0px;"><img style="margin-left:auto;" src="/static/images/zod/zod_rib.jpg"></p>

<p>Kaмни пo знaкaм Зoдиaкa пoдбиpaютcя тaкжe c yчётoм гoдa poждeния пo Вocтoчнoмy кaлeндapю или пo дaтe poждeния.</p>

<p>Знaки Зoдиaкa мoжнo гpyппиpoвaть пo кaмням. Нaпpимep, poдившимcя в хoлoдныe ceзoны Cкopпиoнy, Cтpeльцy, Koзepoгy, Вoдoлeю oдинaкoвo хopoшo cooтвeтcтвyeт пypпypный гpaнaт. Нeзaвиcимo oт cиcтeмы или знaкa Зoдиaкa, зa кaмнями нyжнo yхaживaть. Toлькo тoгдa oни coхpaнят мaгичecкиe cвoйcтвa.</p>

{%endblock%}