<html>
<head>
<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Расчёт психоматрицы пифагора по дате рождения</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/static/css/default.css" media="all"/>
<link rel="stylesheet" type="text/css" href="/static/css/fonts.css" media="all"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
</head>
<body>
<header>
  <nav>
      <ul class="topmenu">
        <li><a href="/">Главная</a></li>
        <li><a href="/CountPifagor/" class="submenu-link">Нумерология</a>
          <ul class="submenu">
            <li><a href="/CountPifagor/Pifagor">Расчёт психоматрицы</a></li>
            <li><a href="/CountPifagor/Sudba">Расчёт числа судьбы</a></li>
          </ul>
        </li>
        <li><a href="/Predict">Предсказания</a></li>
		<li><a href="/Answers">Связь</a></li>
		  <li><a href="/info">О гаданиях</a></li>
		<li id="reg"><a href="/authenticate"> <img src="/static/images/door.jpg" width="40" height="40" /> </a></li>
      </ul>
    </nav>
</header>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			{%block content%}
			{%endblock%}
		</div>
	</div>
	<div class="podval">
	<div id="page" class="container">
		<div class="column1">
			<div class="title">
				<h2>Добро пожаловать на наш сайт!</h2>
			</div>
			<p>C древних времён люди замечали удивительную связь чисел с событиями, происходящими в нашем мире. Например, многи считают, что число 7 приносит удачу, а 13 же напротив является предзнаменованием чего-то нехорошего, что 3 - это число Бога, а 666 - дьявола. Но задумывались ли вы когда-нибудь над тем, какие числа сопровождают успехи и неудачи в вашей жизни? На нашем сайте вы наконец сможете разобраться для себя в этом вопросе и узнать, какие способности заложены в вас!</p>
		</div>
		<div class="column2">
			<div class="title">
				 <h2>Как сделать ловец снов?</h2>
			</div>
			<a href="/makelovets"><img src="/static/images/pic01.jpg" width="282" height="150" alt="" /></a>
			<a href="/makelovets"><p> Создай удивительно красивое украшение для дома своими руками! </p></a>
		</div>
		<div class="column3">
			<div class="title">
				<h2>Узнай свой камень-оберег!</h2>
			</div>
			<a href="/obereg"><img src="/static/images/pic02.jpg" width="282" height="150" alt="" /></a>
			<a href="/obereg"><p>Определи камень, который подходит тебе по энергетике!</p></a>
		</div>
		<div class="column4">
			<div class="title">
				<h2>Галерея тематических фотографий</h2>
			</div>
			<a href="/photos"><img src="/static/images/pic03.jpg" width="282" height="150" alt="" /></a>
			<a href="/photos"><p>Наслаждайся нашей коллекцией!</p></a>
		</div>
	</div>
<div id="footer">
	<p>&copy; Все права защищены, 2019 г. При копировании материалов ссылка на сайт обязательна.</p>
</div>
	</div>
</div>

</body>
</html>
